* {
	margin :0px;
	padding: 0px;
}
.giadinh {
	width: 430px;
	height: 360px;
	margin: auto;
}
.tieude	{
	border-top: 1px solid brown;
	text-align: center;
}
.tieude a {
	text-decoration: none;
	font-size: 24px;
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	color: brown;
	text-transform: uppercase;
	position: relative;
	bottom: -16px;
	background-color: white;
	padding: 0px 10px;
}
.vien {
	border-top: 1px solid #d4d4d4;
	border-bottom: 3px solid #d4d4d4;
	height: 2px;
}
.tin {
	padding-top: 20px;
}
.tin img {
	float: left;
	margin-right: 10px;
	border: 1px solid gray;
	padding: 2px;
	box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.63);

}
.tin .tdtin {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.71);
	text-decoration: none;
	font-weight: bold;
	font-family: tahoma;
	line-height: 21px;
}
.tin p {
	padding-top: 10px;
	font-size: 12px;
	font-family: tahoma;
	color: gray;
}
.dstin {
	margin-bottom: 20px;
}
.dstin ul {
	margin-left: 2px;
	list-style: none;
}
.dstin ul li {
	border-bottom: 1px dotted gray;
	padding: 10px 0px;
}
.dstin i {
	font-size: 4px;
	padding-right: 9px;
	position: relative;
	top: -3px;	
	color: brown;
}
.dstin a {
	font-size: 16px;
	color: black;
	text-decoration: none;
}