.bo	{
	width: 330px;
	height: 415px;
	position: relative;
}
img {
	width: 	330px;
}

.thongtin {
	width: 310px;
	padding: 10px 9px;
	background-color: rgba(0, 0, 0, 0.3);
	color: rgba(255, 255, 255, 0.76);
	text-decoration: none;
	display: block;
	position: absolute;
	bottom: 0px;
	font-size: 18px;
}